<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback Composer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedbackCSS/composeFeedback.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedbackCSS/commonFeedback.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div>
    <div class="w-container">
        <div class="div-block-3">
            <h1>Congratulate [[${to}]]</h1>
        </div>
        <div>
            <div class="w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{feedbackSent(toUsername = ${to})}" th:object="${feedback}" method="post">
                    <label for="subject" class="field-label">Subject:</label>
                        <input type="text" class="w-input" maxlength="256" name="subject" data-name="subject" placeholder="Enter subject" id="subject" th:field = "*{subject}">
                    <label for="feedback" class="field-label">Feedback</label>
                        <textarea rows="4" cols="50" class="w-input" maxlength="5000" name="feedback" data-name="feedback" placeholder="Enter Feedback" id="feedback" required th:field = "*{content}"></textarea>
                    <input type="submit" value="Send Feedback" data-wait="Please wait..." class="w-button">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>