<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Leaderboards</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/bootstrap.css}"/>
</head>
<body>
    <h1 class="text-center text-success">Point Leaderboard</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding: 12px;width: 361px;">User</th>
                    <th>Points</th>
                    <th style="width: 300px;">Hire Date</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="worker: ${workers}">
                    <td th:text="${worker.getUserName()}">peter</td>
                    <td th:text="${worker.getTotalPoints()}">20</td>
                    <td th:text="${worker.getHireDate()}">October 23, 2019</td>
                    <td th:text="${worker.getRole()}">Standard Worker</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary btn-block" th:href="@{feedback}">Back </a>
</body>
</html>