<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Feedback</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedbackCSS/personalFeedback.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedbackCSS/commonFeedback.css}"/>
</head>
<body class="body">
<div th:replace="fragments/feedbackFragment :: naviFragment"></div>
<div>
    <div class="container-2 w-container">
        <div class="div-block-2">
            <h1>Your Feedback</h1>
        </div>
    </div>
    <div class="container-3 w-container">
        <table class="table">
            <thead class="text-center">
            <tr>
                <th>From&nbsp;</th>
                <th>Subject</th>
                <th>Feedback</th>
            </tr>
            </thead>
            <tbody class="text-center" th:each="feedback: ${feedbacks}">
            <tr>
                <td th:text="${feedback.getFrom()}">From</td>
                <td th:text="${feedback.getSubject()}">Subject</td>
                <th th:text="${feedback.getContent()}">Content</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>