<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Public Feedback</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedbackCSS/publicFeedback.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedbackCSS/commonFeedback.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div class="section">
    <div class="container-2 w-container">
        <div class="div-block-2">
            <h1>Public Feedback</h1>
        </div>
    </div>
    <div class="w-container">
        <table class="table">
            <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Subject</th>
                <th>Feedback</th>
            </tr>
            </thead>
            <tbody th:each="feedback: ${feedbacks}">
            <tr>
                <td th:text="${feedback.getTo()}">From</td>
                <td th:text="${feedback.getFrom()}">From</td>
                <td th:text="${feedback.getSubject()}">Subject</td>
                <th th:text="${feedback.getContent()}">Content</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>