<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Public Feedback</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/FeedbackCSS/publicFeedback.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li class="list-item"><a th:href="@{info}" class="nav-link" th:text="${name}">Username</a></li>
            <li><a th:href="@{viewProject}" class="nav-link">Project</a></li>
            <li class="list-item"><a th:href="@{feedback}" class="nav-link">Feedback</a></li>
            <li class="list-item"><a th:href= "@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="section">
    <div class="container-2 w-container">
        <div class="div-block-2">
            <h1 class="heading">Public Feedback</h1>
        </div>
    </div>
    <div class="container-3 w-container">
        <table class="table">
            <thead class="text-center">
            <tr>
                <th>From&nbsp;</th>
                <th>Subject</th>
                <th>Feedback</th>
            </tr>
            </thead>
            <tbody class="text-center" th:each="feedback: ${feedbacks}">
            <tr>
                <td th:text="${feedback.getFrom()}">From</td>
                <td th:text="${feedback.getSubject()}">Subject</td>
                <th th:text="${feedback.getContent()}">Content</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>