.body {
  background-image: url('images/composeMessageBackground.jpg');
  background-position: 50% 50%;
}

.nav-link {
  color: #121212;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}