.body {
  background-image: url('images/messageSearchUserBackground.jpg');
  background-position: 0 0;
}

.nav-link {
  color: #fff;
}

.container-6 {
  padding-top: 50px;
}

.heading-5 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-weight: 700;
}