#GLOBAL GIT IGNORE
out/
*.class
WeWorkFiveTimesAsHard/WorkFlowManager/src/main/resources/application.properties
WeWorkFiveTimesAsHard/WorkFlowManager/src/main/resources/application.properties
*.properties
WeWorkFiveTimesAsHard/WorkFlowManager/src/main/resources/application.properties
*.properties
WeWorkFiveTimesAsHard/WorkFlowManager/src/main/resources/application.properties
*.properties
