.body {
  background-image: url('images/About_Background.jpg');
  background-position: 0 100%;
}

.heading {
  font-family: Lato, sans-serif;
  font-style: italic;
}

.paragraph {
  color: #000;
  text-align: center;
}