<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/StandardWorkerCSS/standardWorkerHomepage.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="w-container">
        <ul role="list" class="nav-grid-2 w-list-unstyled">
            <li><a th:href="@{info}"  class="nav-link" th:text="${standardWorker.getUserName()}">Username</a></li>
            <li><a href="#" class="nav-link">Project</a></li>
            <li><a th:href="@{feedback}" class="nav-link">Feedback</a></li>
            <li><a th:href= "@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button-2 w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="container-4 w-container">
        <div>
            <h1>Announcements</h1>
        </div>
    </div>
    <div class="container-5 w-container">
        <ul role="list" class="list" th:each="announcement: ${announcements}">
            <li class="list-item">From: [[${announcement.getFrom()}]]</li>
            <li>Subject  [[${announcement.getSubject()}]]</li>
            <li class="w-button" style="text-decoration: none;">
                <a th:href="@{viewAnnouncement(announcementID=${announcement.getId()})}" style="text-decoration: none; color: white;">
                    Select
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>