<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/StandardWorkerCSS/StandardWorkerHomepage.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav-4">
    <nav class="container-11 w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-e8ef6aa8c31d-0c5b8230">
                <a th:href="@{info}" class="link-block-7 w-inline-block">
                    <div class="text-block" th:text="${standardWorker.getFirstName()}">Your Name</div>
                </a>
            </li>
            <li>
                <a th:href="@{index}" class="link-block-9 w-inline-block">
                    <div class="text-block-3">Home</div>
                </a>
            </li>
            <li>
                <a href="#" class="link-block-10 w-inline-block">
                    <div class="text-block-4">Projects</div>
                </a>
            </li>
            <li>
                <a th:href="@{feedbackPortal}" class="link-block-8 w-inline-block">
                    <div class="text-block-2">Feedback</div>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="container-9 w-container">
        <div>
            <h2 class="heading-14">Announcements</h2>
        </div>
    </div>
</div>
<div>
    <div class="container-12 w-container">
        <div class="contentcontainer">
            <div th:each="announcement : ${standardWorker.getAnnouncements()}">
                <td th:insert="fragments/AnnouncementFragment::
                 AnnounceFragment(WrittenBy = ${announcement.getWrittenBy()},
                Subject = ${announcement.getSubject()})">
                </td>

                <td th:insert= "fragments/AnnouncementFragment:: AnnouncePayload(PayLoad = ${announcement.getMessageContent()} )">
                </td>
            </div>
        </div>
    </div>
</div>
</body>
</html>