<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/WelcomeCSS/LandingPage.css}"/>

</head>
<body class="body">
<header id="nav" class="sticky-nav-3">
    <nav class="w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-ae6973658765-3229ec8d">
                <div>
                    <h2>WeWorkFiveTimesAsHard</h2>
                </div>
            </li>
            <li><a th:href="@{/TermsOfService}"class="nav-link-2">Terms of Service</a></li>
            <li><a href="#" class="nav-link-2">About</a></li>
            <li><a th:href="@{/Login}" class="w-button">Login</a></li>
        </ul>
    </nav>
</header>
</body>
</html>