<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compose Message</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/composeMessage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/nonDeterministicFragment :: naviFragment"></div>
    <div class="container w-container">
        <h2>Message: [[${to}]]</h2>
    </div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{sendMessage(toUsername = ${to})}" th:object="${message}" method="post">
                <label for="subject">Subject</label>
                    <input type="text" class="w-input" maxlength="256" name="subject" data-name="subject" placeholder="Enter Subject" id="subject" th:field = "*{subject}">
                <label for="messagePayload">Content</label>
                    <textarea rows="4" cols="50" class="w-input" maxlength="5000" name="messagePayload" data-name="messagePayload" placeholder="Enter Message Body:" id="messagePayload" required th:field = "*{messagePayload}"></textarea>
                <input type="submit" value="Send Message" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
</body>
</html>