<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messaging Portal</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/messagingPortal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/commonMessaging.css}"/>

</head>
<body class="body">
<div th:replace="fragments/messagingfragment :: naviFragment"></div>
<div>
    <div class="container-4 w-container">
        <div>
            <h1>Messaging Portal </h1>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="container-5 w-container">
        <a th:href="@{searchUserToMessage}" class="link-block-3 w-inline-block">
            <h2 class="heading-4">Compose</h2>
            <p>Compose A Message<br>To Someone</p>
        </a>
        <a th:href="@{inbox}" class="link-block-3 w-inline-block">
            <h2 class="heading-4">Inbox</h2>
            <p>View your Message<br>Inbox</p>
        </a>
    </div>
</div>
</body>
</html>