<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messaging Portal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/messagingPortal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/nonDeterministicFragment :: naviFragment"></div>
    <div class="container-4 w-container">
        <h1>Messaging Portal </h1>
    </div>
    <div class="container-5 w-container">
        <a th:href="@{searchUserToMessage}" class="link-block-3 w-inline-block">
            <h2>Compose</h2>
            <p>Compose A Message<br>To Someone</p>
        </a>
        <a th:href="@{inbox}" class="link-block-3 w-inline-block">
            <h2>Inbox</h2>
            <p>View your Message<br>Inbox</p>
        </a>
    </div>
</body>
</html>