<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/searchUserToMessage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/nonDeterministicFragment :: naviFragment"></div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{searchUserToMessage}" method="get">
                <h2  class="heading-5">Search By Username:</h2><label for="username"></label><input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Search Username...." id="username">
                <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
<div class="container-6 w-container">
        <table class="table">
            <thead>
            <tr>
                <th>Users</th>
                <th>Role</th>
                <th>ID#</th>
                <th>Message?</th>
            </tr>
            </thead>
            <tbody th:each="user: ${users}">
            <tr>
                <td th:text="${user.getUsername()}">User1</td>
                <td th:text="${user.getRoles()}">Role</td>
                <td th:text="${user.getId()}">12345</td>
                <td>
                    <a class="w-button" role="button" th:href="@{composeMessage(username=${user.username})}">Message</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>