<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/viewMessage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/nonDeterministicFragment :: naviFragment"></div>
<div>
    <div class="container w-container">
        <h2 th:text="${message.getSubject()}">SUBJECT</h2>
    </div>
    <div class="container-3 w-container">
        <p class="paragraph" th:text="${message.messagePayload}">Lorem Ipsum</p>
    </div>
    <div class="container w-container">
        <div class="div-block-2"><a th:href="@{deleteMessage(username = ${''}, messageId=${message.getId()})}" class="deleteButton w-button">Delete Message?</a></div>
        <div class="div-block-2"><a th:href="@{composeMessage(username = ${message.getFrom()})}" class="button-2 w-button">Reply</a></div>
    </div>
</div>
</body>
</html>