<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make Project</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/makeProjectInitial.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div class="noticecontainer w-container">
    <h2>Make Project</h2>
</div>
<div class="w-container">
    <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" th:action="@{makeProject}" th:object="${project}" method="post">
            <label for="name">Project Name</label>
            <input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter Project Name" id="name" th:field = "*{projectName}">
            <label for="description">Description</label>
            <textarea rows="4" cols="50" class="w-input" maxlength="4096" name="description" data-name="description" placeholder="Enter Project Description" id="description" required="" th:field = "*{projectDescription}"></textarea>
            <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
        </form>
    </div>
</div>
</body>
</html>