<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/milestoneView.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div class="commonProjectSection">
    <div class="container-2 w-container">
            <h1 class="heading-2" th:text="${milestone.getMilestoneName()}">Milestone Name</h1>
        <div>
            <h1 class="heading-2">Due: [[${milestone.getDueDate()}]]</h1>
        </div>
        <div class = "milestoneDescription">
            <p th:text="${milestone.getDescription()}"> Base Description</p>
        </div>
    </div>
</div>
<div class="commonProjectSection">
    <div class="milestonetasks w-container">
        <div class="taskdiv" th:each="task :${tasks}">
            <ul role="list" class="tasklist">
                <li th:text="${task.getTaskName()}">Task Name</li>
                <li th:text="${task.getIsAssigned()  &gt; 0 ? 'Is Assigned' : 'Available'}">Is Assigned</li>
                <li th:text="${task.getBounty()}">Bounty</li>
                <li><a th:href="@{viewSingleTask(projectId=${project.getId()}, milestoneId = ${milestone.getId()}, taskId = ${task.getTaskId()})}"  class="viewSingleTasksButton w-button">View</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="specialNoticeDiv w-container" th:if="${ROLE.equals('STANDARDWORKER')}">
    <a th:href="@{viewUsersTasks(projectId = ${project.getId()}, milestoneId=${milestone.getId()})}" class="specialNoticeButton w-button"> View Your Tasks</a>
</div>
<div class="specialNoticeDiv w-container" th:if="${!ROLE.equals('STANDARDWORKER')}">
    <a th:href="@{/}" class="specialNoticeButton w-button">Edit</a>
</div>
</body>
</html>