<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/projectInfo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div class="commonProjectSection">
    <div class="container w-container">
        <div>
            <h1 th:text="${project.getProjectName()}">Project Name</h1>
        </div>
        <div class="projectdescription">
            <p th:text="${project.getProjectDescription()}">Lorem ipsum.</p>
        </div>
    </div>
</div>
    <div class="commonProjectSection">
    <div class="container w-container">
        <h1>Project Leaderboard</h1>
        <table class = "table">
            <thead>
            <tr>
                <th>Username&nbsp;</th>
                <th>Role</th>
                <th>Current Project Points</th>
                <th>Total Points</th>
            </tr>
            </thead>
            <tbody th:each="worker : ${workers}">
            <tr>
                <td th:text="${worker.getUserName()}">From</td>
                <td th:text="${worker.getRole()}" >Subject</td>
                <th th:text="${worker.getCurrentProjectPoints()}">Content</th>
                <th th:text="${worker.getTotalPoints()}">Content</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>