<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Project</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/projectHome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
    <div class="container-2 w-container">
        <a th:href="@{projectInfo(projectId = ${project.getId()})}"  class="link-block w-inline-block">
            <h2 class="projectInfoHeading" th:text="${project.getProjectName()}" >Project Name</h2>
        </a>
    </div>
<div class="commonProjectSection">
    <div class="container-3 w-container">
        <div class="teamlist">
            <ul role="list" class="list-2" th:each="worker : ${workers}">
                <li th:text="${worker.getUserName()}">Username</li>
                <li th:text="${worker.getRole()}">Role</li>
                <li th:text="${worker.getHireDate()}">Hire Date</li>
                <li><a th:href="@{composeMessage(username=${worker.getUserName()})}" class="w-button">Message</a></li>
            </ul>
        </div>
        <div class="milestones">
            <ul role="list" class="list-3" th:each="milestone : ${milestones}">
                <li th:text="${milestone.getMilestoneName()}">MileStone Nmber</li>
                <li>Scheduled Due Date [[${milestone.getDueDate()}]]</li>
                <li th:text="${milestone.getIsOnSchedule()  &gt; 0 ? 'On Schedule' : 'Past Due'}">On Schedule</li>
                <li><a th:href="@{viewMilestone(projectId=${project.getId()}, milestoneId = ${milestone.getId()})}" class="button-2 w-button">View</a></li>
            </ul>
        </div>
        <div class="recentlycompletedprojecttasks">
            <ul role="list" class="list-2" th:each="task : ${completedTasks}">
                <li>[[${task.getWorker()}]] Completed:</li>
                <li th:text="${task.getTaskName()}">TaskName</li>
                <li th:text="${task.getBounty()}">Points</li>
                <li><a th:href="@{composeFeedback(to=${task.getWorker()})}" class="w-button">Give Feedback</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:if="${(ROLE.equals('MANAGER'))}" class="commonProjectSection">
    <div class="w-container">
        <div class="div-block-6"><a href="#" class="button-2 w-button">Edit Project</a></div>
    </div>
</div>
</body>
</html>

