<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project View</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/projectHomepage.css}"/>

</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li class="list-item"><a th:href="@{info}" class="nav-link">Username</a></li>
            <li><a th:href="@{viewProject}" class="nav-link">Project</a></li>
            <li class="list-item"><a th:href="@{feedback}" class="nav-link">Feedback</a></li>
            <li class="list-item"><a th:href= "@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="section">
    <div class="container-2 w-container">
        <a href="#" class="link-block w-inline-block">
            <h1 class="heading-2">Project Name</h1>
        </a>
    </div>
</div>
<div class="section-2">
    <div class="container-3 w-container">
        <div class="teamlist">
            <ul role="list" class="list-4">
                <li>Username</li>
                <li>Role</li>
                <li>Hire Date</li>
                <li><a href="#" class="w-button">Message</a></li>
            </ul>
        </div>
        <div class="milestones">
            <ul role="list" class="list-3">
                <li>MileStone Nmber</li>
                <li>Scheduled Due Date</li>
                <li>On Schedule?</li>
                <li><a href="#" class="button-2 w-button">View</a></li>
            </ul>
        </div>
        <div class="recentlycompletedprojecttasks">
            <ul role="list" class="list-2">
                <li>TaskName</li>
                <li>CompletedBy</li>
                <li>Points</li>
                <li><a href="#" class="w-button">Give Feedback</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>