<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/viewSingleTask.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div class="noticecontainer w-container">
    <h2 class="heading" th:text="${task.getTaskName()}">Task Name</h2>
</div>
<div class="tasknotices w-container">
    <div class="infodiv">
        <p class="paragraph">Urgency: [[${task.getUrgency()}]]</p>
    </div>
    <div class="infodiv">
        <p class="paragraph">Bounty: [[${task.getBounty()}]]</p>
    </div>
    <div class="infodiv">
        <span th:if="${task.getIsAssigned() &gt;0}" class="paragraph">Assigned to: [[${task.getWorker()}]]</span>
        <span th:unless="${task.getIsAssigned() &gt;0}" class="paragraph">Available</span>
    </div>
    <div class="infodiv">
        <p class="paragraph" th:text="${task.getTaskDescription()}">Task DescriptionMake this do this</p>
    </div>
    <div  class="infodiv" th:if="${(!name.equals(task.getWorker())) && (task.getWorker() != 'Available')}">
        <a class="button w-button" th:href="@{composeMessage(username=${task.getWorker()})}">Message</a>
    </div>
    <div class="infodiv" th:if="${(name.equals(task.getWorker()))}">
        <div th:if="${(task.getUpForReview() &lt; 1)}">
            <a th:href="@{standardWorkerMarkTaskComplete(projectId = ${project.getId()}, milestoneId =${task.getMilestoneId()}, taskId=${task.getTaskId()})}" class="button w-button">Mark Task Done</a>
        </div>
    </div>
    <div class="infodiv" th:if="${(task.getIsAssigned() &lt;1) && (ROLE.equals('STANDARDWORKER'))}">
        <a th:href="@{volunteerTask(projectId = ${project.getId()}, milestoneId =${task.getMilestoneId()}, taskId=${task.getTaskId()})}" class="button w-button">Volunteer</a>
    </div>
    <div class="infodiv" th:if="${(task.getUpForReview() &gt;0) && (ROLE.equals('MANAGER'))}">
        <a th:href="@{managerMarkTaskDone(projectId = ${project.getId()}, milestoneId =${task.getMilestoneId()}, taskId=${task.getTaskId()}, username =${task.getWorker()})}" class="button w-button">Mark Task Complete</a>
    </div>
</div>
</body>
</html>