<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Tasks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/viewUsersTasks.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
    <div class="container-4 w-container">
        <div>
            <h1>Your Tasks</h1>
        </div>
    </div>
<div class="section-2">
    <div class="milestonetasks w-container">
        <div class="taskdiv" th:each="task : ${tasks}">
            <ul role="list" class="tasklist">
                <li class="list-item" th:text="${task.getTaskName()}">Task Name</li>
                <li class="list-item" th:text="${task.getUrgency()}">Urgency</li>
                <li class="list-item" th:text="${task.getBounty()}">Bounty</li>
                <li><a th:href="@{viewSingleTask(projectId=${project.getId()}, milestoneId = ${milestone.getId()}, taskId = ${task.getTaskId()})}" class="button-5 w-button">View</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>