<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/viewSingleTask.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectCSS/commonProject.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/managerAndStandardFragment :: naviFragment"></div>
<div class="section-3">
    <div class="container-4 w-container">
        <div>
            <h1 th:text="${task.getTaskName()}">Task Name</h1>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="w-container">
        <div>
            <p class="paragraph" th:text="${task.getTaskDescription()}">Lorem</p>
        </div>
    </div>
</div>
<div class="section-4">
    <div class="container-5 w-container">
        <div>
            <h1 style="color: white;">Urgency: [[${task.getUrgency()}]]</h1>
        </div>
        <div>
            <h1>Bounty: [[${task.getBounty()}]]</h1>
        </div>
        <div th:if="${task.getIsAssigned() &gt;0}">
            <h1>Assigned to: [[${task.getWorker()}]]</h1>
        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="w-container">
        <div class="footer-flex-container">
            <div>
                <a th:if="${(!name.equals(task.getWorker())) && (task.getWorker() != 'Available')}" class="button-2 w-button" th:href="@{composeMessage(username=${task.getWorker()})}">Message</a>
            </div>
            <div th:if="${(name.equals(task.getWorker()))}">
                <div th:if="${(task.getUpForReview() &lt; 1)}">
                 <a th:href="@{standardWorkerMarkTaskComplete(projectId = ${project.getId()}, milestoneId =${task.getMilestoneId()}, taskId=${task.getTaskId()})}" class="button-2 w-button">Mark Task Done</a>
                </div>
            </div>
            <div th:if="${(task.getIsAssigned() &lt;1) && (ROLE.equals('STANDARDWORKER'))}">
                <a th:href="@{volunteerTask(projectId = ${project.getId()}, milestoneId =${task.getMilestoneId()}, taskId=${task.getTaskId()})}" class="button-2 w-button">Volunteer</a>
            </div>
            <div th:if="${(task.getUpForReview() &gt;0) && (ROLE.equals('MANAGER'))}">
                <a th:href="@{managerMarkTaskDone(projectId = ${project.getId()}, milestoneId =${task.getMilestoneId()}, taskId=${task.getTaskId()}, username =${task.getWorker()})}" class="button-2 w-button">Mark Task Complete</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>