.body {
  background-image: url('images/addManagerSelectTeamMembersBackground.jpg');
  background-position: 50% 100%;
}

.nav-link{
  color: black;
}

.assignBox
{
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.assignBox:hover
{
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.nextBox
{
  color: #20bf6b !important;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  text-underline-color: transparent;
  background: transparent;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #20bf6b !important;
  border-radius: 1px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.nextBox:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}