.body {
  background-image: url('images/addUserBackground.jpg');
  background-position: 50% 100%;
}

.nav-link{
  color: black;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}