.body {
  background-image: url('images/makeStandardWorkerSelectManagerBackGround.jpg');
  background-position: 0 75%;
}

.nav-link{
  color: white;
}

.form {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.notice-heading {
  text-align: center;
  font-weight: 400;
  color: white;
}

.table {
  color: white;
}