.form {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 700;
}

.link-block {
    text-decoration: none;
}

.infoContainer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.Info-heading {
    color: #333;
    font-weight: 400;
    text-align: center;
}