.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: transparent;
}

.nav-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-decoration: none;
  list-style-type: none;
}

.body {
  background-image: url('images/makeStandardWorkerSelectManagerBackGround.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  -o-object-fit: fill;
  object-fit: fill;
}

.link-block {
  color: #323232;
  text-decoration: none;
}

.heading {
  color: #000;
  font-weight: 400;
}

.heading-2 {
  color: #000;
  font-weight: 400;
}

.link-block-2 {
  text-decoration: none;
}

.list-item {
  padding-top: 15px;
  padding-bottom: 0px;
}

.submit-button {
  position: static;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}

.list-item-2 {
  height: auto;
}

.form {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.field-label {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
}

.heading-3 {
  font-weight: 400;
  text-align: center;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }
  .nav-grid {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
}

#w-node-14d3ead45d2e-6fdf9210 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-14d3ead45d2e-6fdf9210 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}