.body {
  background-image: url('images/adminRemoveUser.jpg');
  background-position: 0 0;
}

.nav-link{
  color: black;
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.table {
  color: black;
}

.tableRow:hover {
  background-color: silver;
}

.removeUserButton {
  background-color: red;
}