.sticky-nav {
  background-color: transparent;
  opacity: 1;
}

.nav-link {
  color: #fff;
}
.body {
  background-image: url('images/composeFeedbackBackground.jpg');
  background-position: 100% 50%;
}

.heading {
  color: #040303;
}

.div-block-3 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.heading-2 {
  color: #fff;
}

.field-label {
  font-size: 20px;
  color: #fff;
}