.sticky-nav-2 {
  background-color: #fff;
  opacity: 0.9;
}

.nav-link {
  color: #000;
}

.body {
  background-image: url('images/publicFeedbackBackground.jpg');
  background-position: 0 0;
  background-color: #fff;
  opacity: 0.9;
}

.section {
  background-color: #fff;
  opacity: 0.9;
}