.sticky-nav {
  background-color: #fff;
  opacity: 0.85;
}

.nav-link {
  color: #000;
}

.body {
  background-image: url('images/publicFeedbackBackground.jpg');
  background-position: 0 0;
}

.heading {
  color: #040303;
}

.section {
  background-color: #fff;
  opacity: 0.9;
}