.body {
  background-image: url('images/composeAnnouncementBackground.jpg');
  background-position: 50% 50%;
}

.field-label {
  color: #000;
  font-size: 20px;
}

.text-field {
  background-color: #fff;
  color: #000;
}