.body {
  background-image: url('images/selectTeamAnnouncementBackground.jpg');
  background-position: 0 0;
}

.heading-2 {
  text-align: center;
}

.div-block-4 {
  padding-bottom: 10px;
}

.form-block {
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}