<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/addAdmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/commonAdmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/adminFragment :: naviFragment"></div>
<div>
    <div class="infoContainer w-container">
        <h3 class="Info-heading">Add or Alter Administrator</h3>
    </div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form" th:action="@{makeAdmin}" th:object="${user}" method="post">
                <label for="name">User Name:</label>
                    <input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter Username" id="name" required="" th:field = "*{username}">
                <label for="password">Password:</label>
                    <input type="password" class="w-input" maxlength="256" name="password" data-name="password" placeholder="Enter Password" id="password" required="" th:field = "*{password}">
                <div th:object="${admin}" >
                <label for="firstname">First Name:</label>
                    <input type="text" class="w-input" maxlength="256" name="firstname" data-name="firstname" placeholder="Enter First Name" id="firstname" required="" th:field = "*{firstName}">
                <label for="lastname">Last Name:</label>
                    <input type="text" class="w-input" maxlength="256" name="lastname" data-name="lastname" placeholder="Enter Last Name" id="lastname" required="" th:field = "*{lastName}">
                <label for="role">Role:</label>
                    <input type="text" class="w-input" maxlength="256" name="role" data-name="role" placeholder="Enter Role" id="role" required="" th:field = "*{adminROLE}">
                    <input type="hidden" th:field = "*{hireDate}">
                    <input type="hidden" th:field = "*{userName}">
                </div>
                <input type="submit" value="Submit" data-wait="Please wait..." class="w-button"></form>
        </div>
    </div>
</div>
</body>
</html>