<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Team Members</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/addManagerSelectTeamMembers.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/commonAdmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/adminFragment :: naviFragment"></div>
<div>
    <div class="infoContainer w-container">
        <h3 class="Info-heading">Assign Available Workers</h3>
    </div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form" th:action="@{makeManagerSelectTeamMembers}" method="get">
                <label for="name" class="field-label">Search Available Workers By Username</label>
                <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Workers Username" id="name">
                <input type="hidden" name = "managerUsername" data-name="managerUsername" th:value="${currentM}">
                <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
    <div class="w-container">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Assign?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="worker: ${workers}" >
                <td th:text="${worker.getUserName()}">Username</td>
                <td th:text="${worker.getFirstName()}">First name</td>
                <td th:text="${worker.getLastName()}">Last name</td>
                <td th:text="${worker.getRole()}">Manager Username</td>
                <td>
                    <a class="assignBox" th:href= "@{addTeamMemberToManager(workerUsername = ${worker.getUserName()}, managerUsername = ${currentM})}"> Assign </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{addManagerRemoveTeamMember(managerUsername = ${currentM})}" class="nextBox"> NEXT </a>
    </div>
</div>
</body>
</html>