<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Add Standard Worker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/addStandardWorkerSelectManager.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/commonAdmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/adminFragment :: naviFragment"></div>
<div>
    <div class="infoContainer w-container">
        <h3 class="notice-heading">Assign Worker to Manager:</h3>
    </div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form" th:action="@{makeStandardWorkerSelectManager}" method="post">
                <label for="name"></label><input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder=" Search Managers By Username" id="name">
                <input type="hidden" name = "standardWorkerUsername" data-name="standardWorkerUsername" th:value="${currentSW}">
                <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
    <div class="w-container">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID#</th>
                <th>Assign?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="manager: ${managers}">
                <td th:text="${manager.getUserName()}">Username</td>
                <td th:text="${manager.getFirstName()}">First name</td>
                <td th:text="${manager.getLastName()}">Last name</td>
                <td th:text="${manager.getId()}">Manager Username</td>
                <td>
                    <a th:href="@{bindStandardWorkerToManager(standardWorkerUsername = ${currentSW},managerUsername = ${manager.getUserName()})}" class="w-button"> Assign </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>