<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Standard Worker</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/addUserMain.css}"/>

</head>
<body class="body">
<div th:replace="fragments/addUsersFragment :: addUserHeader"></div>
<div>
    <div class="container-2 w-container">
        <div>
            <h1>Add Or Alter Standard Worker:</h1>
        </div>
    </div>
</div>
<div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" th:action="@{makeStandardWorker}" th:object="${user}" method="post">
                <label for="username">User Name</label>
                    <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Username" id="username" th:field = "*{username}">
                <label for="password">Password</label>
                    <input type="password" class="w-input" maxlength="256" name="password" data-name="password" placeholder="Password" id="password" required="" th:field = "*{password}">
                <div th:object="${worker}" >
                    <label for="FirstName">FirstName</label>
                        <input type="text" class="w-input" maxlength="256" name="firstName" data-name="firstName" placeholder="First Name" id="FirstName" required="" th:field = "*{firstName}">
                    <label for="LastName">LastName</label>
                        <input type="text" class="w-input" maxlength="256" name="lastName" data-name="lastName" placeholder="Last Name" id="LastName" required="" th:field = "*{lastName}">
                        <input type="hidden" class="w-input" maxlength="256" name="HireDate" data-name="HireDate" placeholder="yyyy-mm-dd" id="HireDate" required="" th:field = "*{hireDate}">
                    <label for="Role">Role</label>
                        <input type="text" class="w-input" maxlength="256" name="Role" data-name="Role" placeholder="Lead, Core, Engine, etc." id="Role" required="" th:field = "*{employeeRole}">
                    <label for= "ProjectID" >Project ID#</label>
                        <input type="text" class="w-input" maxlength="256" name="ProjectID" data-name="ProjectID" placeholder="Enter Project ID#" id="ProjectID" required="" th:field = "*{project}">
                    <label for= "ProjectPoints">Current Project Points</label>
                         <input type="text" class="w-input" maxlength="256" name="ProjectPoints" data-name="ProjectPoints" placeholder="0" id="ProjectPoints" required="" th:field = "*{currentProjectPoints}">
                    <label for= "StartingPoints">Total Points</label>
                        <input type="text" class="w-input" maxlength="256" name="StartingPoints" data-name="StartingPoints" placeholder="0" id="StartingPoints" required="" th:field = "*{totalPoints}">
                </div>
                <input type="submit" value="Next" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
</div>
</body>
</html>
