<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminCSS/addUserMain.css}"/>

</head>
<body class="body">
<div th:replace="fragments/addUsersFragment :: addUserHeader"></div>
<div>
    <div class="container-2 w-container">
        <div>
            <h1>Add User:</h1>
        </div>
    </div>
</div>
<div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" form action="#" th:action="@{insertUser}" th:object="${user}" method="post">
                <label for="username">User Name</label>
                    <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Username" id="username" th:field = "*{username}">
              <label for="Role">Role</label>
                     <input type="text" class="w-input" maxlength="256" name="Role" data-name="Role" placeholder="STANDARDWORKER OR MANAGER" id="Role" required="" th:field = "*{roles}">
                <label for="password">Password</label>
                    <input type="text" class="w-input" maxlength="256" name="password" data-name="password" placeholder="Password" id="password" required="" th:field = "*{password}">
                <input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
