<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alter Team Member</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminCSS/alterEmployee.css}"/>
</head>
<body class="body">
<div th:replace="fragments/addUsersFragment :: addUserHeader"></div>
<div>
    <div class="container-2 w-container">
        <div>
            <h1>Alter Team Member</h1>
        </div>
    </div>
</div>
<div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" form action="#" th:action="@{insertAlteredStandardWorker}" th:object="${worker}" method="post">
                <label for="First-Name">First Name</label>
                     <input type="text" class="w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name" id="First-Name" required="" th:field = "*{firstName}">
                <label for="lastname">Last Name</label>
                    <input type="text" class="w-input" maxlength="256" name="lastname" data-name="lastname" placeholder="Last Name" id="lastname" required="" th:field = "*{lastName}">
                <label for="Manager">Manager</label>
                     <input type="text" class="w-input" maxlength="256" name="Manager" data-name="Manager" placeholder="Manager Username" id="Manager" th:field = "*{managerUsername}">
                <label for="Role">Employee Role</label>
                    <input type="text" class="w-input" maxlength="256" name="Role" data-name="Role" placeholder="Test, Network, Engine, etc." id="Role" required="" th:field = "*{employeeRole}">
                <input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
</div>
</body>
</html>