<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminCSS/admin.css}"/>

</head>
<body class="body">
<div>
    <div class="container-3 w-container">
        <div>
            <h1 class="heading-4">ADMIN:</h1>
        </div>
        <a th:href="@{info}" class="link-block-4 w-inline-block">
            <h1 class="heading-5" th:text="${workerType.getFirstName()}">Username</h1>
        </a>
    </div>
</div>
<div class="section">
    <div class="container-4 w-container">
        <a href="#" class="link-block-3 w-inline-block">
            <h2>Announcement</h2>
            <div class="text-block-2">Compose an Announcement</div>
        </a>
        <a th:href="@{Hr}"  class="link-block-3 w-inline-block">
            <h2>Human Resources</h2>
            <div class="text-block">Add, update, or Remove Employees</div>
        </a>
    </div>
</div>
</body>
</html>