<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/adminHomepage.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="w-container">
        <ul role="list" class="nav-grid-2 w-list-unstyled">
            <li><a th:href="@{info}" class="nav-link" th:text="${admin.getFirstName()}">Firstname</a></li>
            <li><a th:href="@{index}" class="nav-link">Home</a></li>
            <li><a th:href="@{Hr}" class="nav-link">Resources</a></li>
            <li><a th:href= "@{messagingPortal}"  class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button-2 w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="container-4 w-container">
        <div>
            <h1 class="heading">Compose Announcement</h1>
        </div>
        <div><a th:href="@{searchTeamToSendAnnouncement}" class="w-button">Compose Announcement</a></div>
    </div>
    <div class="container-5 w-container">
        <div>
            <table class="table">
                <thead class="text-center">
                <tr>
                    <th>From&nbsp;</th>
                    <th>Subject</th>
                    <th style="width: 200px;">View</th>
                </tr>
                </thead>
                <tbody class="text-center" th:each="announcement : ${announcements}">
                <tr>
                    <td th:text="${announcement.getFrom()}"><strong>From</strong></td>
                    <td th:text="${announcement.getSubject()}"><strong>Subject</strong></td>
                    <td>
                        <a class="btn btn-primary btn-lg text-uppercase text-center text-white visible" role="button" th:href="@{viewAnnouncement(announcementID=${announcement.getId()})}" >View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>