<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/removeUser.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/commonAdmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/repeatingStyles.css}"/>
</head>
<body class="body">
<div th:replace="fragments/adminFragment :: naviFragment"></div>
    <div class="container-9 w-container">
        <div>
            <h3>Remove User Search</h3>
        </div>
        <div>
            <div class="w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{RemoveUser}" method="get">
                    <label for="username"></label><input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Search By Username..." id="username">
                    <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
                </form>
            </div>
        </div>
        <h2 class="Info-heading">Current Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Users</th>
                <th>Role</th>
                <th>ID#</th>
                <th>Remove?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" class="tableRow">
                <td th:text="${user.getUsername()}">User1</td>
                <td th:text="${user.getRoles()}">Role</td>
                <td th:text="${user.getId()}">12345</td>
                <td>
                    <a class="w-button removeUserButton" th:href="@{deleteUser(username=${user.username})}">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>