<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Team Members</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminCSS/searchTeamMember.css}"/>

</head>
<body class="body">
<div>
    <header id="nav" class="sticky-nav" >
        <nav class="container w-container">
            <ul role="list" class="nav-grid w-list-unstyled">
                <li id="w-node-48f2440cb377-292155b3">
                    <a th:href="@{index}" class="link-block w-inline-block">
                        <h2 class="heading" style="color: white;">WeWorkFiveTimesAsHard</h2>
                    </a>
                </li>
                <li>
                    <a th:href="@{Hr}" class="link-block w-inline-block">
                        <h3 class="heading" style="color: white;">Resources</h3>
                    </a>
                </li>
                <li>
                    <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</div>
<div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="searchteammembers" th:action="@{searchTeamMember}" method="get">
                <h1 style="color: white;">Search Team Members:</h1>
                <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Search By Username" id="username" required="">
                <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
</div>
<div class="w-container">
    <table class="table" style="text-align: left; width: 100%; font-size: 20px; color: white;">
        <thead>
        <tr style="padding: 15px; border-bottom: 1px solid #ddd;">
            <th>Username</th>
            <th>Manager</th>
            <th>Role</th>
            <th>Select?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="worker: ${workers}" style="border-bottom: 1px solid #ddd; padding: 15px; color: white;">
            <td th:text="${worker.getUserName()}">Username</td>
            <td th:text="${worker.getManagerUsername()}">Manager Username</td>
            <td th:text="${worker.getRole()}">Front End</td>
            <td>
                <a th:href="@{alterStandardWorker(username=${worker.getUserName()})}" class="w-button"> Edit </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>