<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select User Type</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminCSS/selectUserTypeToAdd.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-14d3ead45d2e-6fdf9210" class="list-item-2">
                <a th:href="@{index}" class="link-block w-inline-block">
                    <h3 class="heading-2`">WeWorkFiveTimesAsHard</h3>
                </a>
            </li>
            <li>
                <a th:href="@{messagingPortal}" class="link-block-2 w-inline-block">
                    <h3 class="heading">Messages</h3>
                </a>
            </li>
            <li>
                <a th:href="@{Hr}" class="link-block-2 w-inline-block">
                    <h3 class="heading">Resources</h3>
                </a>
            </li>
            <li class="list-item">
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="container w-container">
        <h3 class="heading-4">Please Select the User's Type to Add</h3>
    </div>
    <div class="container-2 w-container">
        <a th:href="@{addStandardWorker}" class="link-block-3 w-inline-block">
            <div class="div-block">
                <h3 class="heading-3">Standard</h3>
            </div>
            <div>
                <p>A Team member that will<br>be assigned to a Manager</p>
            </div>
        </a>
        <a href="#" class="link-block-3 w-inline-block">
            <div class="div-block">
                <h3 class="heading-3">Manager</h3>
            </div>
            <div>
                <p>A Team Leader, can be<br>assigned available workers</p>
            </div>
        </a>
        <a th:href="@{addAdmin}" class="link-block-3 w-inline-block">
            <div class="div-block">
                <h3 class="heading-3">Admin</h3>
            </div>
            <div>
                <p>Administrator, able to handle<br>all things human resources</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>