<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select User Type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/selectUserTypeToAdd.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/commonAdmin.css}"/>
</head>
<body class="body">
<div th:replace="fragments/adminFragment :: adminNaviFragment"></div>
<div>
    <div class="infoContainer w-container">
        <h3 class="Info-heading">Please Select the User's Type to Add</h3>
    </div>
    <div class="typeToAddContainer w-container">
        <a th:href="@{addStandardWorker}" class="link-block-3 w-inline-block">
            <div class="div-block">
                <h3 class="heading-3">Standard</h3>
            </div>
            <div>
                <p>A Team member that will<br>be assigned to a Manager</p>
            </div>
        </a>
        <a th:href="@{addManager}" class="link-block-3 w-inline-block">
            <div class="div-block">
                <h3 class="heading-3">Manager</h3>
            </div>
            <div>
                <p>A Team Leader, can be<br>assigned available workers</p>
            </div>
        </a>
        <a th:href="@{addAdmin}" class="link-block-3 w-inline-block">
            <div class="div-block">
                <h3 class="heading-3">Admin</h3>
            </div>
            <div>
                <p>Administrator, able to handle<br>all things human resources</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>