.body {
  background-image: url('images/makeProjectInitial.jpg');
  background-position: 0 50%;
}

.nav-link {
  color: #444;
}

.submit-button {
  width: 100%;
}

.noticecontainer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}