.body {
  background-image: url('images/makeTaskBackground.jpg');
  background-position: 50% 100%;
}

.nav-link {
  color: #fff;
}

.heading {
  color: #fff;
}

.form {
  color: #fff;
}

.form-block {
  color: #fff;
}