.body {
  background-image: url('images/milestoneEditOptionsBackground.jpg');
  background-position: 0 0;
}

.nav-link {
  color: #fff;
}

.heading {
  color: #fff;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}