.body {
  background-image: url('images/viewSingleTaskBackground.jpg');
  background-position: 0 0;
}

.nav-link {
  color: #333;
}

.noticecontainer {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.heading {
  color: #000;
}

.paragraph {
  color: #000;
  font-size: 20px;
}

.infodiv {
  width: 100%;
  border: 1px solid #000;
  text-align: center;
}

.button {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.tasknotices {
  background-color: #fff;
  opacity: 0.85;
}


