.body {
    background-image: url('images/viewActiveMilestonesInProjectBackground.jpg');
    background-position: 0 0;
}
.nav-link {
    color: #fff;
}

.heading {
    color: #fff;
}

.table {
    color: white;
}

.tableRow:hover {
    background-color: darkgrey;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.removeTaskButton {
    background-color: red;
}