<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddUsersFragment</title>
</head>
<body>
<div th:fragment="addUserHeader">
    <header id="nav" class="sticky-nav">
        <nav class="container w-container">
            <ul role="list" class="nav-grid w-list-unstyled">
                <li id="w-node-48f2440cb377-292155b3">
                    <a th:href="@{/}" class="link-block w-inline-block">
                        <h2 class="heading">WeWorkFiveTimesAsHard</h2>
                    </a>
                </li>
                <li>
                    <a th:href="@{index}" class="link-block w-inline-block">
                        <h3 class="heading">Home</h3>
                    </a>
                </li>
                <li>
                    <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>