<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not a real page</title>

</head>
<body>
<div class="contentheading" th:fragment="AnnounceFragment(WrittenBy, Subject)">

    <div class="from">
        <h3 th:text="${WrittenBy}">From:</h3>
    </div>

    <div class="subject">
        <h3 th:text= "${Subject}">Subject:</h3>
    </div>
</div>


<div class="contentpayload" th:fragment="AnnouncePayload(PayLoad)">
    <p th:text= "${PayLoad}">HELLO WORLD</p>
</div>

</body>
</html>