<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Announcement Composer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/announcementCSS/composeAnnouncement.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/announcementCSS/commonAnnouncement.css}"/>
</head>
<body class="body">
<div th:replace="fragments/announcementFragment :: naviFragment"></div>
<div>
    <div class="container-4 w-container">
        <div>
            <h1 class="heading">Compose Announcement</h1>
        </div>
    </div>
    <div class="container-5 w-container">
        <div>
            <div class="w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{sendAnnouncement(manUsername = ${managerUsername})}" th:object="${announcement}" method="post">
                    <label for="subject" class="field-label">Subject:</label>
                        <input type="text" class="text-field w-input" maxlength="256" name="subject" data-name="subject" placeholder="Enter Subject..." id="subject" required="" th:field = "*{subject}">
                    <label for="content" class="field-label">Announcement:</label>
                        <textarea class="text-field w-input" rows="4" cols="50" maxlength="5000" name="content" data-name="content" placeholder="Enter announcement..." id="content" required th:field = "*{messagePayload}"></textarea>
                    <input type="submit" value="Send Announcement" data-wait="Please wait..." class="w-button">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>