<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Announcement</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/announcementCSS/viewAnnouncement.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/announcementCSS/commonAnnouncement.css}"/>
</head>
<body class="body">
<div th:replace="fragments/announcementFragment :: naviFragment"></div>
<div>
    <div class="container-4 w-container">
        <div>
            <h1 class="heading">From: [[${announcement.getFrom()}]]</h1>
        </div>
    </div>
    <div class="container-5 w-container">
        <div>
            <p class="paragraph-2" th:text="${announcement.getMessagePayload()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
    </div>
    <div class="container-6 w-container">
        <div><a th:href="@{deleteAnnouncement(announcementID = ${announcement.getId()})}" class="button-3 w-button">Delete</a></div>
        <div><a th:href="@{index}" class="w-button">Go Back</a></div>
    </div>
</div>
</body>
</html>