<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Page Not Found</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonCSS/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcomeCSS/error.css}"/>
</head>
<body class="body">
<div class="container w-container">
    <h1>404 - Page Not Found</h1>
    <a th:href="@{/}" class="button w-button">Back To Dashboard</a>
</div>
</body>
</html>